VITE_FIREBASE_API_KEY=AIzaSyDt4oQ4aBYdeTGH3G6i92BBNfbfENovWIs
VITE_FIREBASE_AUTH_DOMAIN=home-workout-924e4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=home-workout-924e4
VITE_FIREBASE_STORAGE_BUCKET=home-workout-924e4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=177921641389
VITE_FIREBASE_APP_ID=1:177921641389:web:6a122df8e53e3dbffeaf24